<?xml version="1.0" ?>
<robot name="motoman_mh_180_120" xmlns:xacro="http://ros.org/wiki/xacro">
  
  <!--plugin for webots_ros2 control-->
  <webots>
    <plugin type="webots_ros2_control::Ros2Control" />
  </webots>

  <!-- ros2 control include -->
  <xacro:include filename="$(find yaskawa_motomanmh180_simulation)/urdf/motoman_mh_180_120.ros2_control.xacro" />

  <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />
  
  <!-- ros2 control instance -->
  <xacro:motoman_mh_180_120_ros2_control
  name="WebotsControl" initial_positions_file="$(arg initial_positions_file)" />

  <xacro:include filename="$(find yaskawa_motomanmh180_simulation)/urdf/mh180_120_macro.urdf.xacro"/>
  <xacro:motoman_mh180_120 prefix=""/>
</robot>
 
